html, body {
    font-family: Arial, Helvetica, sans-serif;
    margin:0
}

.panel-faq-container {
    border: 0px solid red;
    margin-bottom: -16px;
}

.panel-faq-title {
    /* font-weight: bold; */
    color: #00eaea;
    cursor:pointer;
}

.panel-faq-answer {
    /* 방식 1 */
    /* padding: 15px;
    display: none; */

    /* 방식 2 */
    /*높이를 없애버리고 글씨들이 그대로 안나타보이게 하기 위해서 overflow 속성으로 hidden을 해줌*/
    /* border:10px solid red; */
    height: 0px; 
    overflow: hidden;
}

#btn-all-close {
    margin-bottom: 10px;
    background-color: #726996;
    border:none;
    color:#fff;
    cursor:pointer;
    padding: 10px 25px;
    /* padding : 0px 0px 0px 0px */
    float: right;
}

#btn-all-close:hover {
    background-color: red;
    color:#fff;
    transition: all .35s;
}

.active {
    
}